<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>adminpage</title>
    <link rel="stylesheet" href="../../assets/css/all.css">
    <link rel="stylesheet" href="../../assets/css/admin.css">
</head>
<body>

    <div id="wrap">

        <Header >
        <!-- {/* //header */} -->


        

        <div id="nav">
            
            <h4>관리자님 출근하세요*^^*</h4>

        </div>
        <!-- {/* //nav */} -->




        <div id="container" class="clearfix">
            <div id="aside">

                <div>유저인포?</div>

                <ul>
                    <li>
                        <div>유저인포?</div>
                    </li>
                    <li><Link to="" rel="noreferrer noopener">음원관리</Link></li>
                    <li><Link to="" rel="noreferrer noopener">결제관리</Link></li>
                </ul>
            </div>
            <!-- {/* //aside */} -->

            <div id="content" class="colorFormGray">
                <div class="colorFormWhite">

                    <div id="content-head" >
                        <h3>음원 정보 수정</h3>
                        <div class="clear"></div>
                    </div>
                    <!-- {/* //content-head */} -->
    
    
    
                    <div id="board">
                        <div id="modifyForm">
                            <form action="" method="" onSubmit="" >
    
                                <!-- {/* 음원제목 */} -->
                                <div class="form-group">
                                    <label class="form-text" htmlFor="input-mid">음원제목</label> <br>
                                    <input type="text" id="input-mid" name="" value="" onChange="" placeholder="제목을 입력하세요" />
                                </div>
    
                                <!-- {/* 아티스트 */} -->
                                <div class="form-group">
                                    <label class="form-text" htmlFor="">아티스트(가수)</label> <br>
                                    <input type="text" id="" name="" value="" onChange='' placeholder=""	/>
                                </div>
    
                                <!-- {/* 앨범 */} -->
                                <div class="form-group">
                                    <label class="form-text" htmlFor="">앨범</label> <br>
                                    <input type="text" id="" name="" value="" onChange="" placeholder="" />
                                </div>
    
                                <!-- {/* 장르 */} -->
                                <div class="form-group">
                                    <label class="sel-genre">장르</label> <br>
                                    <select id="sel-genre" name="" value="" onChange="" >
                                        <option value="">선택하세요</option>
                                        <option value="발라드" selected={genre === '발라드'} >발라드</option>
                                        <option value="힙합" selected={genre === '힙합'}>힙합</option>
                                        <option value="K-pop" selected={genre === 'K-pop'}>K-pop</option>
                                        <option value="트로트" selected={genre === '트로트'}>트로트</option>
                                    </select>
                                </div>
    
    
                                <!-- {/* 발매일 */} -->
                                <div class="form-group">
                                    <label class="form-text" htmlFor="">발매일</label> <br>
                                    <input type="text" id="" name="" value="" onChange="" placeholder="" />
                                </div>
    
                                <!-- {/* 재생시간 */} -->
                                <div class="form-group">
                                    <label class="form-text" htmlFor="">재생시간</label> <br>
                                    <input type="text" id="" name="" value="" onChange="" placeholder="" />
                                </div>
    
                                <!-- {/* 음원링크 */} -->
                                <div class="form-group">
                                    <label class="form-text" htmlFor="">음원링크</label> <br>
                                    <input type="text" id="" name="" value="" onChange="" placeholder="" />
                                </div>
    
                                <!-- {/* 앨범이미지 */} -->
                                <div class="form-group">
                                    <label class="form-text" htmlFor="">앨범이미지</label> <br>
                                    <input type="file" name="" onChange="" />
                                </div>
    
    
    
    
                                
                                <!-- {/* 버튼영역 */} -->
                                <div class="button-area">
                                    <div><button type="submit" id="btn-submit">음원수정</button></div>
                                    <div><button id="btn_cancel" ><Link to=""  rel="noreferrer noopener">뒤로가기</Link></button></div>
                                    
                                    
                                </div>
                                
                            </form>
                        </div>
                        <!-- {/* //musicInsertForm */} -->
                    </div>
                    <!-- {/* //musicInsert */} -->

                </div>

            </div>
            <!-- {/* //content  */} -->

        </div>
        <!-- {/* //container  */} -->


        <Footer >
        <!-- {/* //footer */} -->
    </div>
    <!-- {/* //wrap */} -->




    
</body>
</html>