<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>adminpage</title>
    <link rel="stylesheet" href="../../assets/css/all.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/jjinUtilize.css">
</head>
<body>

    <div id="wrap">

        
        <!-- {/* //header */} -->


        

        <div id="nav">
            
            <h4>관리자님 출근하세요*^^*</h4>

        </div>
        <!-- {/* //nav */} -->




        <div id="container" class="clearfix">
            <div id="aside">

                <div>유저인포?</div>

                <ul>
                    <li>
                        <div>유저인포?</div>
                    </li>
                    <li><Link to="" rel="noreferrer noopener">음원관리</Link></li>
                    <li><Link to="" rel="noreferrer noopener">결제관리</Link></li>
                </ul>
            </div>
            <!-- {/* //aside */} -->

            <div id="content">

                <div id="content-head">
                    <h3>음원리스트</h3>
                    <div className="clear"></div>
                </div>
                <!-- {/* //content-head */} -->



                <div id="content-search">
                    <div>
                        <input type="text" name="" value="" onChange="">
                    </div>
                    <div>
                        <Link to='' className="btn_s">음원등록</Link>
                    </div>
                </div>
                <!-- {/* //content-search */} -->



                <div id="board">
                    <div id="list">
                        <form action="" method="">
                            <div className="form-group text-right">
                                <input type="text" />
                                <button type="submit" id="btn_search">검색</button>
                            </div>
                        </form>

                        <table >
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>음원제목</th>
                                    <th>아티스트</th>
                                    <th>장르</th>
                                    <th>발매일</th>
                                    <th>재생시간</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <td>번호</td>
                                    <td>음원제목</td>
                                    <td>아티스트</td>
                                    <td>장르</td>
                                    <td>발매일</td>
                                    <td>재생시간</td>
                                    <td>수정</td>
                                    <td>삭제</td>
                                </tr>
                              


                            </tbody>        
                                    
                                    

                        </table>

            
                        <div id="paging">
                            <ul>
                                <li className="active"><Link to="" rel="noreferrer noopener">페이징?</Link></li>
                            </ul>
                            
                            
                            <div className="clear"></div>
                        </div>
                    
                    </div>
                    <!-- {/* //list */} -->
                </div>
                <!-- {/* //board */} -->
            </div>
            <!-- {/* //content  */} -->

        </div>
        <!-- {/* //container  */} -->


        <Footer >
        <!-- {/* //footer */} -->
    </div>
    <!-- {/* //wrap */} -->




    
</body>
</html>