<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../assets/css/all.css" rel="stylesheet">
    <link href="../../assets/css/header.css" rel="stylesheet">
    <link href="../../assets/css/footer.css" rel="stylesheet">
    <link href="../../assets/css/payment-admin.css" rel="stylesheet">

</head>
<body>
    <div id="wrap-main">
        
        <div id="wrap-head">
            <ul>
                <li>헤더헤더헤더헤더헤더헤더헤더헤더</li>
            </ul>
        </div>
        <div id="wrap-body" class="clearfix">
            <div id="wrap-side">

                <div id="profile-box" >
                    <div class="profile-name" >
                        <span>
                            <img src="../../assets/images/공포 루피.jfif">
                        </span>
                        <div class="profile-name-one">
                            <p><a href="#"><strong>관리자</strong> 님</a></p>
                        </div>
                    </div>
                    <div class="profile-edit">
                        <a href="#" class="button-left"><span>곡 관리</span></a>
                        <a href="#" class="button-right"><span>이용권 관리</span></a>
                    </div>
                </div>
                <!-- /프로필 -->
                <!-- 마이뮤직 리스트-->
                <div id="profile-list">
                    <a>
                        <span>관리자 페이지</span>
                    </a>
                    <div>
                        <ul>
                            <li><a href="#"><img src="../../assets/images/search.png"> 음원 관리</a></li>
                            <li><a href="#"><img src="../../assets/images/search.png"> 결제 관리</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /마이뮤직 리스트-->
            </div>
            <div id="wrap-main">
                <div id="top-title">
                    <h2>결제관리 리스트</h2>
                    <p>홈 > 관리 > 사용자 이용내역 > <strong>결제 관리</strong></p>
                </div>
                <P id="admin-all-list-title">고객 결제 및 해지 처리</P>
                <div>
                    <table id="admin-table-delete-list">
                        <thead>
                            <colgroup>
                                <col style="width: 135px;">
                                <col style="width: 135px;">
                                <col style="width: 135px;">
                                <col style="width: 135px;">
                                <col style="width: 135px;">
                            </colgroup>
                            <tr>
                                <th>고객 ID</th>
                                <th>구매기간</th>
                                <th>결제일</th>
                                <th>상태</th>
                                <th>해지처리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>wls</td>
                                <td>1일</td>
                                <td>2024-10-03</td>
                                <td>정상결제</td>
                                <td><button type="submit">해지처리</td>
                            </tr>
                            <tr></tr>
                                <td>wls</td>
                                <td>7일</td>
                                <td>2024-10-03</td>
                                <td>정상결제</td>
                                <td><button type="submit">해지처리</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="wrap-foot">
            
            <div>푸터푸터푸터푸터푸터</div>
        </div>

    </div>
    
</body>
</html>