<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../assets/css/all.css" rel="stylesheet">
    <link href="../../assets/css/jjinUtilize.css" rel="stylesheet">

</head>
<body>
    <div id="wrap-main">
        
        <div id="wrap-head">
            <p>헤더</p>
        </div>
        <div id="wrap-body" class="clearfix">

            <div id="wrap-side">

                <div id="profile-box" >
                    <div class="profile-name" >
                        <span>
                            <img src="../../assets/images/공포 루피.jfif">
                        </span>
                        <div class="profile-name-one">
                            <p><a href="#"><strong>진소영</strong> 님</a></p>
                            <a href="#">프로필수정</a>
                        </div>
                    </div>
                    <div class="profile-edit">
                        <a href="#" class="button-left"><span>내정보</span></a>
                        <a href="#" class="button-right"><span>이용권</span></a>
                    </div>
                </div>
                <!-- /프로필 -->
                <!-- 마이뮤직 리스트-->
                <div id="profile-list">
                    <a>
                        <span>마이뮤직</span>
                    </a>
                    <div>
                        <ul>
                            <li><a href="#"><img src="../../assets/images/search.png"> 플레이 리스트</a></li>
                            <li><a href="#"><img src="../../assets/images/search.png"> 좋아요♥</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /마이뮤직 리스트-->
            </div>
            <div id="wrap-main">
                <div id="top-title">
                    <h2>이용권 내역</h2>
                </div>
                메인
            </div>
        </div>
        <div id="wrap-foot">
            
            <div>푸터</div>
        </div>

    </div>
    
</body>
</html>