<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../assets/css/all.css" rel="stylesheet">
    <link href="../../assets/css/header.css" rel="stylesheet">
    <link href="../../assets/css/footer.css" rel="stylesheet">
    <link href="../../assets/css/jjinpayForm.css" rel="stylesheet">

</head>
<body>
    <div id="wrap-main">
        
        <div id="wrap-head">
            <ul>
                <li>헤더헤더헤더헤더헤더헤더헤더헤더</li>
            </ul>
        </div>
        <div id="wrap-body" class="clearfix">
            <div id="">
                <div id="top-title">
                    <h2>이용권 정보</h2>
                    <p>홈 > <strong>이용권구매</strong></p>
                </div>

                <div id="smart-music-listen">
                    <table id="pay-total-list">
                        <colgroup>
                            <col style="width: 300px;">
                            <col style="width: 100px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td colspan="2" class="tb-total">최종 결제정보</td>
                            </tr>
                            <tr class="tb-one">
                                <td class="pay-one-one">상품 금액</td>
                                <td class="pay-one-two">10000원</td>
                            </tr>
                            <tr class="tb-two">
                                <td class="pay-two-one">할인 금액</td>
                                <td class="pay-two-two">-0원</td>
                            </tr>
                            <tr class="tb-three">
                                <td class="pay-three-one">총 결제 금액</td>
                                <td class="pay-three-two">10000원</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="pay-all-box">
                        <div id="pay-choose-box">
                            <p>결제수단 선택</p>
                            <form>
                                <div id="pay-choose-radio-box">
                                    <label for="" name="pay" >신용카드</label>
                                    <input type="radio" id="" name="pay" value="">

                                    <label for="" name="pay" >무통장입금</label>
                                    <input type="radio" id="" name="pay" value="">

                                    <label for="" name="pay" >휴대폰 소액결제</label>
                                    <input type="radio" id="" name="pay" value="">
                                </div>
                            </form>
                        </div>

                    </div>
                    <button id="total-price-btn">결제하기</button>
                </div>
            </div>
            
        </div>
        <div id="wrap-foot">
            
            <div>푸터푸터푸터푸터푸터</div>
        </div>

    </div>
    
</body>
</html>