<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../assets/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link href="../../assets/css/footer.css" rel="stylesheet">
    <link href="../../assets/css/payment.css" rel="stylesheet">

</head>
<body>
    <div id="wrap-main">
        
        <div id="wrap-head">
            <ul>
                <li>헤더헤더헤더헤더헤더헤더헤더헤더</li>
            </ul>
        </div>
        <div id="wrap-body" class="clearfix">
            <div id="">
                <div id="top-title">
                    <h2>이용권 구매</h2>
                    <p>홈 > 마이뮤직 > 이용권구매 > <strong>BEST 이용권</strong></p>
                </div>
                <div id="select-usePayment">
                    <a id="use-payment-my" href="#">사용중인 이용권</a>
                    <!-- <span>사용중인 이용권이 없습니다.</span>
                    <p>이용권을 구매하고 다양한 혜택을 누리세요!</p> -->
                    <span>1일 이용권 사용중입니다.</span>
                    <p>지금바로 다양한 음악들을 만나보세요!</p>
                    <a><button id="delete-move-button">이용권 해지/설정</button></a>
                </div>
                <div id="all-product-area">    
                    <p class="product-title">무제한 듣기 + 오프라인 재생</p>
                    <div class="product-back-div clearfix">
                        <p class="product-name-date">스트리밍 플러스 티켓 1일</p>
                        <p class="product-name-date">무제한 듣기 + 오프라인 재생</p>
                        <button class="product-float">구매</button>
                        <p class="float-p">10,000 원</p>
                    </div>
                </div>
                <div id="all-product-area">    
                    <p class="product-title">무제한 듣기 + 오프라인 재생</p>
                    <div class="product-back-div clearfix">
                        <p class="product-name-date">스트리밍 플러스 티켓 7일</p>
                        <p class="product-name-date">무제한 듣기 + 오프라인 재생</p>
                        <button class="product-float">구매</button>
                        <p class="float-p">30,000 원</p>
                    </div>
                </div>
                <div id="all-product-area">    
                    <p class="product-title">무제한 듣기 + 오프라인 재생</p>
                    <div class="product-back-div clearfix">
                        <p class="product-name-date">스트리밍 플러스 티켓 30일</p>
                        <p class="product-name-date">무제한 듣기 + 오프라인 재생</p>
                        <button class="product-float">구매</button>
                        <p class="float-p">70,000 원</p>
                    </div>
                </div>
            </div>
            <div id="wrap-foot">
            
                <div>푸터푸터푸터푸터푸터</div>
            </div>
        </div>
        

    </div>
    
</body>
</html>