<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genie Music</title>
    <link rel="stylesheet" href="../../assets/css/all.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/Detail.css">
    
</head>

<body>
    <div id="wrap-main">
        <div id="wrap-head">
            <div id="wrap-header">
                <div id="purchase-button">
                    <img src="../../assets/images/wallet.png">
                    <a href="">이용권구매</a>
                </div>
                <div class="header-main">
                    <div class="header-left">
                        <span class="logo">
                            <img src="../../assets/images/공포 루피.jfif" alt="로고">
                        </span>
                        <div id="search-wrap">
                            <input type="search" id="sc-fd" class="ipt-search" maxlength="200" autocomplete="off"
                                placeholder="가을에 듣기 좋은 감성 발라드">
                            <input type="submit" class="btn-submit" value="검색">
                        </div>
                    </div>
                </div>

                <div class="gnb" id="gnb">
                    <ul class="menu clearfix">
                        <li><a href="#" class="gnb-menu">지니차트</a></li>
                        <li><a href="#" class="gnb-menu">최신음악</a></li>
                        <li><a href="#" class="gnb-menu">장르음악</a></li>
                    </ul>
                    <div class="gnb-my">
                        <button type="button" class="btn login-join-btn">로그인/회원가입</button>
                    </div>
                </div>
            </div>

        </div>

     
        <div class="page-main-container">
            <!-- 앨범 이미지와 정보 -->
            <div class="album-section">
              <div class="album-cover">
                <img src="../../assets/images/햄을 구워요.webp" alt="햄을 프라이팬에 구워서 김치와 싸 드셔보세요" class="album-img">
              </div>
              <div class="album-info">
                
                <h1>햄을 프라이팬에 구워서 김치와 싸 드셔보세요</h1>
                <p>아티스트: 김치워리어</p>
                <p>장르/스타일: 김치</p>
                <p>레이블: Stone Music Entertainment</p>
                <p>개발사: Stone Music Entertainment, CJ E&M STUDIOS</p>
                <p>발매일: 2024.10.01</p>
                <div class="buttons">
                  <button class="button-play">듣기</button>
                  <button class="button-add">담기</button>
                  <button class="button-like">좋아요 <span>(11)</span></button>
                </div>
              </div>
            </div>
            <!--소개문구-->
            <div class="song-description-section">
                <h2>곡 소개</h2>
                <p>이 곡은 김치의 맛을 극대화 하기 위해선 햄을 김치에 싸서 후라이팬과 함께 먹는 것이 좋다고 합니다
                    무슨 소리냐고요? 네 별 생각 없이 써놓은 거에요. 오늘 밥은 혼자서 후라이팬을 햄에 구워서 김치와 함께 드셔보시는게 어떨까요?
                    어떻긴 어때 맛이 없겠지 ㅋㅋ
                </p>
              </div>
            
            <!-- 다른 앨범 리스트 -->
            <div class="artist-album-list">
              <h2>이 아티스트의 다른 앨범 더보기</h2>
              <div class="album-covers-container">
                <div class="cover-item">
                  <img src="../../assets/images/공포 루피.jfif" alt="YIM">
                  <p>YIM</p>
                </div>
                <div class="cover-item">
                  <img src="../../assets/images/공포 루피.jfif" alt="윤후">
                  <p>윤후</p>
                </div>
                <div class="cover-item">
                  <img src="../../assets/images/공포 루피.jfif" alt="After Love">
                  <p>After Love</p>
                </div>
                <div class="cover-item">
                  <img src="../../assets/images/공포 루피.jfif" alt="이별 뒷 그늘 부르다">
                  <p>이별 뒷 그늘 부르다</p>
                </div>
                <div class="cover-item">
                  <img src="../../assets/images/공포 루피.jfif" alt="Love Part 2">
                  <p>Love Part 2</p>
                </div>
                <div class="cover-item">
                  <img src="../../assets/images/공포 루피.jfif" alt="오 (Cat)">
                  <p>오 (Cat)</p>
                </div>
              </div>
            </div>
                    
                        <!-- 댓글 섹션 -->
                        <!-- 댓글 다는 섹션 -->
            <div class="comments-section">
                <h3>댓글</h3>
                
                <!-- 댓글 입력 폼 -->
                <div class="comment-form">
                <textarea class="comment-input" placeholder="댓글을 입력하세요..." maxlength="140"></textarea>
                <button class="comment-submit-button">댓글 등록</button>
                </div>
                
                <!-- 기존 댓글 리스트 -->
                <div class="comment-item">
                <p><strong>맛있으면 짖는 개</strong> <span>2021-10-01</span></p>
                <p>으르르르르ㅡ르를ㅇ쾅콰어코라ㅣ어라오아멍멍멍!ㅃ!!!!!!</p>
                </div>
            </div>
          </div>
   </div>      
</body>

</html>