<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/css/all.css">
    <link rel="stylesheet" href="../../assets/css/header.css">`
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">

    <title>메인페이지1</title>
</head>

<body>
    <div id="wrap-main">
        <div id="wrap-head">
            <div id="wrap-header">
                <div id="purchase-button">
                    <img src="../../assets/images/wallet.png">
                    <a href="">이용권구매</a>
                </div>
                <div class="header-main">
                    <div class="header-left">
                        <span class="logo">
                            <img src="../../assets/images/cuteddagenie.png" alt="로고">
                        </span>
                        <div id="search-wrap">
                            <input type="search" id="sc-fd" class="ipt-search" maxlength="200" autocomplete="off"
                                placeholder="가을에 듣기 좋은 감성 발라드">
                            <input type="submit" class="btn-submit" value="검색">
                        </div>
                    </div>
                </div>

                <div class="gnb" id="gnb">
                    <ul class="menu clearfix">
                        <li><a href="#" class="gnb-menu">지니차트</a></li>
                        <li><a href="#" class="gnb-menu">최신음악</a></li>
                        <li><a href="#" class="gnb-menu">장르음악</a></li>
                    </ul>
                    <div class="gnb-my">
                        <button type="button" class="btn login-join-btn">로그인/회원가입</button>
                    </div>
                </div>
            </div>

        </div>


        <!--배너 (이프문 돌리기)-->
        <div id="wrap">
            <div class="banner-container">
                <h2>최신음악</h2>
                <br></br>
                <div class="banner">
                    <div class="banner-item">
                        <a href="../jung.png">
                            <img src="../../assets/images/공포 루피.jfif" alt="harry kim (해리킴)">
                            <div class="banner-caption">harry kim (해리킴)</div>
                        </a>
                    </div>

                    <div class="banner-item">
                        <a href="link2.html">
                            <img src="../../assets/images/facebook.png" alt="김아름">
                            <div class="banner-caption">김아름</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link3.html">
                            <img src="../../assets/images/kakao.png" alt="브로콜리너마저">
                            <div class="banner-caption">브로콜리너마저</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link4.html">
                            <img src="../../assets/images/logo.webp" alt="Sunburnkids">
                            <div class="banner-caption">Sunburnkids</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link5.html">
                            <img src="../../assets/images/wallet.png" alt="Tuesday Beach Club">
                            <div class="banner-caption">Tuesday Beach Club</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link6.html">
                            <img src="../../assets/images/insta.png" alt="태비 (Taeb2)">
                            <div class="banner-caption">태비 (Taeb2)</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link7.html">
                            <img src="../../assets/images/search.png" alt="인순이">
                            <div class="banner-caption">인순이</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link8.html">
                            <img src="../../assets/images/공포 루피.jfif" alt="ArchPlot (아크플롯)">
                            <div class="banner-caption">ArchPlot (아크플롯)</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link9.html">
                            <img src="../../assets/images/wallet.png" alt="SEODo BAND (서도밴드)">
                            <div class="banner-caption">SEODo BAND (서도밴드)</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link10.html">
                            <img src="../../assets/images/" alt="허클베리핀 (Huckleberryfinn)">
                            <div class="banner-caption">허클베리핀 (Huckleberryfinn)</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link11.html">
                            <img src="../../assets/images/" alt="bvyinyl">
                            <div class="banner-caption">bvyinyl</div>
                        </a>
                    </div>
                    <div class="banner-item">
                        <a href="link12.html">
                            <img src="../../assets/images/" alt="20WAVE">
                            <div class="banner-caption">20WAVE</div>
                        </a>
                    </div>
                </div>


                <!--배너 페이징-->
                <!--<div class="pagination">
                    <span>&#60;</span>
                    <span>1 / 5</span>
                    <span>&#62;</span>
                </div>-->
                <!--배너 페이징-->
                <!--사진 배너-->
                <div class="banner-down">
                    <img src="../../assets/images/캡처.PNG" alt="배너 이미지 1" class="banner-image">
                    <!-- <img src="../../../assets/images/cuteddagenie.png" alt="배너 이미지 2" class="banner-image"> -->
                </div>
                <!--사진 배너-->
            </div>
              
            <!--리스트부분-->
            <h2>음악 리스트</h2>

            <table class="playlist">
                <thead>
                    <tr class="mainplay">
                        <th class="playno">번호</th>
                        <th class="playsong">곡 정보</th>
                        <th class="playplus">재생/추가</th>
                    </tr>
                </thead>
                <tbody>
                    <!--리스트 반복부분-->
                    <tr class="mainplay">
                        <td>1</td>
                        <td>
                            <div class="song-info">
                                <img src="../../assets/images/kakao.png" alt="BOOMERANG" class="song-cover">
                                <div>
                                    <div class="song-title">BOOMERANG</div>
                                    <div>20WAVE | BOOMERANG</div>
                                </div>
                            </div>
                        </td>
                        <td>

                            <div class="icon-container">
                                <button class="icon-btn play-btn"
                                    onclick="openPlayerPopup('BOOMERANG', '20WAVE', 'cover1.jpg', 'song1.mp3')" ▶>
                                </button>
                                <button class="icon-btn plus-btn"></button>

                            </div>
                        </td>
                    </tr><!--리스트 반복부분 -->
                </tbody>
            </table>
            <div id="wrap-main">
                <div id="wrap-foot" class="footer">
                    <div class="ft-head clearfix">
                        <ul>
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보처리방침</a></li>
                            <li><a href="#">청소년보호정책</a></li>
                            <li><a href="#">위치기반서비스</a></li>
                        </ul>
                    </div>
                    <div class="ft-main clearfix">
                        <!-- 로고 이미지 -->
                        <div class="ft-logo">
                            <img src="../../assets/images/logo.webp" alt="지니뮤직 로고">
                        </div>
                        <!-- 회사 정보 텍스트 -->
                        <div class="ft-info">
                            <p>(주) 따지니뮤직</p>
                            <p>대표이사 황일영 | 서울 서초구 강남대로 405 통영빌딩 8층 </p>
                            <p>사업자등록번호: 777-77-01234 | 통신판매업신고 2013-서울강남-01302</p>
                            <p>개인정보보호책임자: 임현성 | 서비스문의: 1577-5337 | 이메일: molddajini@hwak.ma</p>
                            <p>COPYRIGHT©DDAGENIE MUSIC CORP ALL RIGHTS RESERVED.</p>
                        </div>
                    </div>
                    <!-- sns 아이콘 빼두됨 -->
                    <div class="ft-sns">
                        <a href="#"><img src="../../assets/images/kakao.png" alt="카카오톡" /></a>
                        <a href="#"><img src="../../assets/images/facebook.png" alt="페이스북" /></a>
                        <a href="#"><img src="../../assets/images/insta.png" alt="인스타그램" /></a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script>
        // 팝업 창 열기 함수
        function openPlayerPopup(title, artist, cover, songUrl) {
            const popupWidth = 735;  // 팝업 너비
            const popupHeight = 460;  // 팝업 높이
            const popupOptions = `width=${popupWidth},height=${popupHeight},resizable=yes,scrollbars=no`;
            const popupUrl = `../../views/music/player.html?title=${encodeURIComponent(title)}&artist=${encodeURIComponent(artist)}&cover=${encodeURIComponent(cover)}&songUrl=${encodeURIComponent(songUrl)}`;
            window.open(popupUrl, 'Music Player', popupOptions);
        }
    </script>
</body>


</html>