@charset "utf-8"; 

#wrap-header {
    width: 100%;
    max-width: 940px;
    background-color: #ffffff;
    margin: 0 auto;
    /* border-bottom: 2px #d2d2d2 solid; */
}

#wrap-header>#purchase-button {
    padding: 0 5px 0 0;
}

#wrap-header>.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

#wrap-header>.header-main>.header-left {
    display: flex;
    align-items: center;
}

#wrap-header .logo img {
    width: 44px; /* 로고 크기 조절 */
    height: auto;
    margin: 5px
}

#wrap-header>.header-main>#search-wrap {
    margin-left: 20px;
}

#wrap-header>.header-main>.header-left>#search-wrap>#sc-fd {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #0095FF;
}

#wrap-header>.header-main>.header-left>#search-wrap>.btn-submit {
    float: right;
    position: relative;
    width: 43px;
    height: 36px;
    border: 0;
    line-height: 0;
    background-image: url(../images/search.png) ;
    text-indent: -9999px; /* 텍스트 숨김 */
    cursor: pointer;
}

#wrap-header>.gnb>.gnb-my {
    font-size: 14px;
}

#wrap-header>.gnb>.gnb-my>.login-join-btn {
    background-color: transparent;
    color: #333;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#wrap-header>.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
}

#wrap-header>.gnb>.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#wrap-header>.gnb>.menu>li {
    margin-right: 30px;
}

#wrap-header>.gnb .gnb-menu {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
/* 탭 관련 레이아웃 수정 */
.tab-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 위와 아래를 나누어 배치 */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: none; /* 기본적으로 숨김 */
}

.tab-content.active {
    display: flex; /* 선택된 탭만 flex로 표시 */
}

/* 리스트 부분에 스크롤 적용 */
.playlist {
    flex-grow: 1; /* 스크롤 가능 영역을 확장 */
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* 스크롤이 생기도록 */
}

/* 푸터 부분은 항상 하단에 고정 */
.playlist-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.playlist-footer button {
    background-color: #0096FF;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
