<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../test/sy-test.html" rel="stylesheet">

</head>
<body>
    <div id="wrap-main">
        
        <div id="wrap-head">
            <ul>
                <li>ddsdfsfsgdehaeargrd</li>
                <li>ddd</li>
            </ul>
        </div>
        <div id="wrap-body">
            
            <div>dksjdhfi</div>
        </div>
        <div id="wrap-foot">
            
            <div>dd</div>
        </div>

    </div>
    
</body>
</html>